extends layout

block content
  h1(class="greeting" align="center") Welcome to #{title}! 
  h2(class="tagline") We at #{title} provide the best haircuts and services in #{city}!
  div(class="homediv")
    img(src="https://www.thetrendspotter.net/wp-content/uploads/2015/09/The-Versatile-Gent-Barber-Shop-Sydney.jpg" alt="barbershop_Swirl" class="sidephoto" )
    p(class="homeparagraph") Welcome to #{name}, we provide high quality services and products for any hair based need you need. We also speak latin! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
