doctype html
html

    head
        title #{title}
        link(href='style.css' rel='stylesheet')
    body
        header
            h1 #{title}
            br
            nav
                div(class='navbutton')
                    a(href='/')
                        label Home
                div(class='navbutton')
                    a(href='orders')
                        label Orders
                div(class='navbutton')
                    a(href='services')
                        label Services

        div
            block content
footer