html{
background-color: gray;
}
body{

    background-color:#dedede;
    height: fit-content;
    margin: 45px;
    padding: 45px;

}

header{
    background-color: #19082b;
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
    border-radius: 10px;
}

header h1{
    color: white;
    padding: 10px;
    width: 97%;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

nav{
    border-radius: 10px;
    width: 97%;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 45px;
    text-align: center;
}

p{
    font-size: 120%;
    word-wrap: normal;
}

footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #19082b;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
}

.navbutton{
    float: left;
    background-color: gray;
    margin: 25px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

    -webkit-transition: width 2s;
    transition: width 5s;
}

.navbutton:hover{
    background-color: lightslategrey;
    width: 200px;
    height: 45px;
    padding-top: 10px;
}

.navbutton a{
    font-size: 35px;
}

.serviceSec{
    font-family: "Times New Roman", Times, sans-serif;
    background-color: lightslategrey;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 45px;
    padding: 15px;
    border: solid black;
    border-width: 3px;
    font-size: 20px;
}

.pageContainer{

}

.sidephoto{
    border: 5px solid #000000;
    border-radius: 4px;
    width: 30%;
    height: 30%;
    float: right;
}

.homeparagraph{
    width: 65%;
    padding: 10px;
    word-wrap: break-word;
}
#womensText{
    visibility: hidden;
}
#productsText{
    visibility: hidden;
}
#servicesTextArea{
    min-height: 500px;
    max-height:800px;
    display:inline-block;
    width: 900px;
    overflow:hidden;
    text-align: center;
    background-color: #7E7F7D;
}
ul{
    list-style: none;
}
.menu_item{
    width: 250px;
    min-height: 50px;
    height: 150px;
    max-height: 300px;
    padding: 7px;
    border: 3px solid black;
    border-radius: 5px;
    display:inline-block;
    overflow:hidden;
}
#orderPanel{
    text-align: center;
}
#servicesToggleBar{
    width:400px;
    height: 70px;
}
.btnToggle{
    width: 125px;
    height: 55px;
    background-color: #B6BAB7;
}
#mensToggle{
    background-color: #7E7F7D;
}
.textArea{
    position:relative;
    top: 0px;

.homediv{
    min-height: 350px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }

}