html{
    background-color: black;
}
body{
    background-color: pink;
    height: fit-content;
    margin: 45px;
    padding: 45px;
    border-radius: 15px;
}

header{
    background-color: gray;
    display: inline-block;
    width: 100%;
    align-content: left;
    margin-bottom: 45px;
    border-radius: 15px;
}

header h1{
    padding: 10px;
    width: 97%;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    float: left;
    text-align: center;
}

nav{
    background-color: orange;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 45px;
}

p{
    font-size: 120%;
    word-wrap: normal;
}

footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: gray;
  text-align: center;
    border-radius: 10px;
}

.navbutton{
    float: left;
    margin: 25px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.navbutton a{
    font-size: 45px;
}

.serviceSec{
    background-color: green;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 45px;
    padding: 15px;
    font-size: 25px;
}

.pageContainer{

}
.sidephoto{
    border: 5px solid #000000;
    border-radius: 4px;
    width: 30%;
    height: 30%;
    float: right;
}

.homeparagraph{
    width: 65%;
    padding: 10px;
    word-wrap: break-word;
}
